In [1]:
import syft as sy

domain = sy.login(email="vova.degtyarev.01@mail.ru", password="20012002", url="localhost",port=8081)

/home/banan/anaconda3/envs/syft_env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Connecting to localhost... done! 	 Logging into default_node_name... done!

In [2]:
domain.name

'default_node_name'

In [3]:
domain.datasets

In [4]:
domain.store

[PointerId: 6ba49c38ec8643b5a06a8766cd057b3d
Status: Ready
Representation: array([66,  8, 25, 18])

(The data printed above is synthetic - it's an imitation of the real data.)]

In [6]:
family_age_dataset=domain.datasets[0]
family_age_dataset

Dataset: Family_Age_Dataset
Description: Our dataset contains the Ages of our four Family members with unique ID's. There are 2 columns and 4 rows in our dataset.

In [7]:
domain.privacy_budget

10.0

In [8]:
ages = family_age_dataset["Age_Data"]

In [11]:
ages.public_dtype

dtype('int64')

In [12]:
family_age_dataset["Age_Data"]

PointerId: 6ba49c38ec8643b5a06a8766cd057b3d
Status: Ready
Representation: array([17, 93, 88, 35])

(The data printed above is synthetic - it's an imitation of the real data.)

In [21]:
mean_age_public = ages.publish(sigma=20)

In [22]:
mean_age_public

In [ ]:
mean_age_public.get(delete_obj=False)