In [34]:
import syft as sy

domain = sy.login(email="vova.degtyarev.01@mail.ru", password="20012002", url="localhost",port=8081)

Connecting to localhost... done! 	 Logging into default_node_name... done!

In [2]:
domain.name

'default_node_name'

In [35]:
domain.datasets

In [68]:
domain.store

[PointerId: 6ba49c38ec8643b5a06a8766cd057b3d
Status: Ready
Representation: array([34, 96, 53, 65])

(The data printed above is synthetic - it's an imitation of the real data.), <ndarrayPointer -> default_node_name:91ec54d31497422b9a00c1669e21d962, status=Ready>, <ndarrayPointer -> default_node_name:9c49ecfe781b4bbb884d2955e79a4a52, status=Ready>, <ndarrayPointer -> default_node_name:ba29ad93ecfe4641963392e8f1ca81a5, status=Ready>, <ndarrayPointer -> default_node_name:4596893809f44f6c92267c7f09fa7d51, status=Ready>, <ndarrayPointer -> default_node_name:a3ada775cb244e2fb31a95bc7575563b, status=Ready>, <ndarrayPointer -> default_node_name:3f22cbd5b50348318851379dce0724f2, status=Ready>, <ndarrayPointer -> default_node_name:be6a72af9cf34cd58a44ed822f106dce, status=Ready>, PointerId: fe30b33abf244f5b999cebe875333537
Status: Ready
Representation: array([23, 41, 37, 67, 69, 78, 57, 72, 75, 18, 42])

(The data printed above is synthetic - it's an imitation of the real data.), <ndarrayPointer -> default_node_name:5abaf5a5411f4c29b78635c777f9b78f, status=Ready>, <ndarrayPointer -> default_node_name:3867b47d35ea4917a988d6b891bcff63, status=Ready>, PointerId: 97b1e0f82a15400e9442fa0282b25c51
Status: Ready
Representation: array([ 3, 30, 95, 57, 45, 46, 91, 18, 79, 22, 26])

(The data printed above is synthetic - it's an imitation of the real data.), <ndarrayPointer -> default_node_name:9862359ce9b54ae7a00cd8147707329a, status=Ready>]

In [22]:
family_age_dataset=domain.datasets[0]
family_age_dataset

Dataset: Family_Age_Dataset
Description: Our dataset contains the Ages of our four Family members with unique ID's. There are 2 columns and 4 rows in our dataset.

In [6]:
domain.privacy_budget

81.90986704659603

In [7]:
ages = family_age_dataset["Age_Data"]

In [8]:
ages.public_dtype

dtype('int64')

In [9]:
family_age_dataset["Age_Data"]

PointerId: 6ba49c38ec8643b5a06a8766cd057b3d
Status: Ready
Representation: array([88, 80, 78, 94])

(The data printed above is synthetic - it's an imitation of the real data.)

In [10]:
mean_age_public = ages.publish(sigma=20)

In [11]:
mean_age_public

In [12]:
mean_age_public.get(delete_obj=False)

array([32.99935534, 21.47710061, 10.53703462, 10.03608156])

Достаем второй датасет

In [38]:
spiderman_age_dataset=domain.datasets[2]
spiderman_age_dataset

Dataset: Spiderman_Age_v2_Dataset
Description: Our dataset contains the Ages of people who watched the movie Spiderman in the cinema in Moscow version 2. There are 2 columns and 11 rows in our dataset.

In [63]:
domain.privacy_budget

847.8316369745248

In [40]:
ages = spiderman_age_dataset["Age_Data"]

In [41]:
spiderman_age_dataset["Age_Data"]

PointerId: 97b1e0f82a15400e9442fa0282b25c51
Status: Ready
Representation: array([72, 22, 25,  4, 95, 42, 46, 36, 28,  6, 36])

(The data printed above is synthetic - it's an imitation of the real data.)

In [58]:
spider_mean_age_public = ages.publish(sigma=8)

In [59]:
spider_mean_age_public

In [64]:
result_arr = spider_mean_age_public.get(delete_obj=False)

In [65]:
result_arr

array([17.36214563, 26.46931173, 18.11931484, 21.05759375, 18.38698209,
       16.8739602 ,  6.88442038, 24.95978123,  8.66941377, 15.67948188,
       22.75392723])

In [66]:
mean_age = result_arr.mean()

In [67]:
mean_age

17.928757519642357