In [1]:
# run this cell
try:
    import syft as sy
    print("Syft is imported")
except:
    print("Syft is not installed. Please use the üßôüèΩ‚Äç‚ôÇÔ∏è Install Wizard above.")

/home/banan/anaconda3/envs/syft_env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Syft is imported

In [2]:
try:
    domain_client = sy.login(
       port=8081,
       email="info@openmined.org",
       password="changethis"
    )
except Exception as e:
    print("Unable to login. Please check your domain is up with `!hagrid check localhost:8081 --timeout=120`")

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to localhost... done! 	 Logging into default_node_name... done!

In [ ]:
try:
    import pandas as pd
    data = {'ID': ['011', '015', '022', '034'],
           'Age': [40, 39, 9, 8]}

    dataset = pd.DataFrame(data)
    print(dataset.head())
except Exception:
    print("Install the latest version of Pandas using the command: !pip install pandas")

In [ ]:
data_subjects = sy.DataSubjectArray.from_objs(dataset["ID"])

age_data = sy.Tensor(dataset["Age"]).annotate_with_dp_metadata(
   lower_bound=0, upper_bound=100, data_subject=data_subjects
)

In [ ]:
domain_client.load_dataset(
   name="Family_Age_Dataset",
   assets={
       "Age_Data": age_data,
   },
   description="Our dataset contains the Ages of our four Family members with unique ID's. There are 2 columns and 4 rows in our dataset."
)

In [3]:
domain_client.datasets

–î–æ–±–∞–≤–∏–º –≤—Ç–æ—Ä–æ–π –¥–∞—Ç–∞—Å–µ—Ç

In [4]:
try:
    import pandas as pd
    data = {'ID': ['001', '004', '005', '009', '011', '018', '022', '023', '026', '029', '034'],
           'Age': [38, 28, 21, 19, 18, 17, 17, 17, 16, 15, 12]}

    dataset = pd.DataFrame(data)
    print(dataset.head())
except Exception:
    print("Install the latest version of Pandas using the command: !pip install pandas")

    ID  Age
0  001   38
1  004   28
2  005   21
3  009   19
4  011   18

In [5]:
data_subjects = sy.DataSubjectArray.from_objs(dataset["ID"])

age_data = sy.Tensor(dataset["Age"]).annotate_with_dp_metadata(
   lower_bound=0, upper_bound=100, data_subject=data_subjects
)

Tensor annotated with DP Metadata!
You can upload this Tensor to a domain node by calling `<domain_client>.load_dataset` and passing in this tensor as an asset.

In [6]:
domain_client.load_dataset(
   name="Spiderman_Age_v2_Dataset",
   assets={
       "Age_Data": age_data,
   },
   description="Our dataset contains the Ages of people who watched the movie Spiderman in the cinema in Moscow version 2. There are 2 columns and 11 rows in our dataset."
)

Loading dataset... uploading...üöÄ

Uploading `Age_Data`: 100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1/1 [00:00<00:00, 112.04it/s]

Dataset is uploaded successfully !!! üéâ

Run `<your client variable>.datasets` to see your new dataset loaded into your machine!

In [7]:
domain_client.datasets